
@media (min-width:1400px) and (orientation: landscape){
body{
    background-color: #F2F2F2;
    font-family: 'Lexend Deca', sans-serif;
}

.menu-topo{
   position: absolute;
   left:40%;
  
}

p{
    margin: 5%;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color:hsl(0, 0%, 95%);
}
.btn-descricao{
    margin:5px 10px 10px 10px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    Font-size: 15px;
    width: 1444px;
    position: absolute;
    top: 50%;
    left:10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}
.carros{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 40%;
height: 450px;
width: 350px;
padding: 5% 5% 5% 2%;
border: 5px 5px 5px 5px;
background-color: grey;
}
.sedan{
    background-color:hsl(31, 77%, 52%);
    
  margin: 10px 10px 0 0;
}
.btn-javascript{
    color:hsl(31, 77%, 52%);
}
.suv{
    background-color:hsl(184, 100%, 22%);
   
  margin: 10px 10px 0 0;

}
.btn-css{
    color:hsl(184, 100%, 22%);
}
.luxuosos{
    background-color:hsl(184, 100%, 22%);
   
  margin: 10px 10px 0 0;
}
.btn-html{
    color:hsl(184, 100%, 22%);
}
.sub{
    margin-left:20px;
    color:hsl(0, 0%, 95%);
}

.btn-saiba{
    margin:30% 10% 0% 20%;
    padding:20px;
    border-radius: 50px 50px 50px 50px;
    width:160px;
    height:30px;
    background-color:hsl(0, 0%, 95%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}
.attribution{
    position: absolute;
    bottom: 0px;
    border: 10px;
    background-color:beige;
    
}

}
/* Para Ipads */

@media (min-width:1400px) and (max-width:1530px) {
    body{
        background-color: #F2F2F2;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .menu-topo{
       position: absolute;
       left:40%;
      
    }
    
    p{
        margin: 5%;
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color:hsl(0, 0%, 95%);
    }
    .btn-descricao{
        margin:5px 10px 10px 10px;
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .container{
        display: flex;
        flex-direction:row;
        Font-size: 15px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      
    }
    .carros{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 45%;
        height: 450px;
        padding: 5% 5% 5% 2%;
        border: 5px 5px 5px 5px;
        background-color: grey;
    }
    .sedan{
        background-color: hsl(31, 77%, 52%);
        margin: 800px 10px 0 0;
    }
    .btn-javascript{
        color:hsl(31, 77%, 52%);
    }
    .suv{
        background-color:hsl(184, 100%, 22%);
       
      margin: 10px 10px 0 0;
    
    }
    .btn-css{
        color:hsl(184, 100%, 22%);
    }
    .luxuosos{
        background-color:hsl(184, 100%, 22%);
       
      margin: 10px 10px 0 0;
    }
    .btn-html{
        color:hsl(184, 100%, 22%);
    }
    .sub{
        margin-left:20px;
        color:hsl(0, 0%, 95%);
    }
    
    .btn-saiba{
        margin:30% 10% 0% 20%;
        padding:20px;
        border-radius: 50px 50px 50px 50px;
        width:160px;
        height:30px;
        background-color:hsl(0, 0%, 95%);
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }
    .attribution{
        position: absolute;
        bottom: 0px;
        border: 10px;
        background-color:beige;
        
    }

}

@media (min-width:1300px) and (max-width:1530px) {
    body{
        background-color: #F2F2F2;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .menu-topo{
       position: absolute;
       left:40%;
      
    }
    
    p{
        margin: 5%;
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
        color:hsl(0, 0%, 95%);
    }
    .btn-descricao{
        margin:5px 10px 10px 10px;
        font-weight: 400;
        font-family: 'Lexend Deca', sans-serif;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        Font-size: 15px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); 
        overflow: visible;

      
    }
    .carros{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 45%;
        height: 450px;
        padding: 5% 5% 5% 2%;
        border: 5px 5px 5px 5px;
        background-color: grey;
    }
    .sedan{
        background-color: hsl(31, 77%, 52%);
        margin: 10px 0px 0px 0px;
    }
    .btn-javascript{
        color:hsl(31, 77%, 52%);
    }
    .suv{
        background-color:hsl(184, 100%, 22%);
       
      margin: 10px 10px 0 0;
    
    }
    .btn-css{
        color:hsl(184, 100%, 22%);
    }
    .luxuosos{
        background-color:hsl(184, 100%, 22%);
       
      margin: 10px 10px 0 0;
    }
    .btn-html{
        color:hsl(184, 100%, 22%);
    }
    .sub{
        margin-left:20px;
        color:hsl(0, 0%, 95%);
    }
    
    .btn-saiba{
        margin:30% 10% 0% 20%;
        padding:20px;
        border-radius: 50px 50px 50px 50px;
        width:160px;
        height:30px;
        background-color:hsl(0, 0%, 95%);
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }
    .attribution{
        position: absolute;
        bottom: 0px;
        border: 10px;
        background-color:beige;
        
    }
}